<!-- Suscribe -->

<div class="box my-4">
  <div class="container has-text-center">
    <form class="columns">
      <div class="field is-grouped is-half is-offset-one-quarter column">
        <div class="control is-expanded">
          <input class="input" type="email" placeholder="Email input" value="hello@">
          <span class="icon is-small is-left">
          </span>
        </div>
        <p class="control">
          <button class="button is-danger">Inscribirse</button>

        </p>
      </div>
    </form>
  </div>
</div>

<!--Footer-->
<footer id="landing-footer" class="clearfix has-background-dark">
  <div class="container">
    <div class="columns ">
      <div class="column">
        <h3 class="has-text-primary">Inffluyo</h3>
        <app-social></app-social>
      </div>
      <div class="column has-text-left">
        <h4 class="has-text-white">Sobre Nosotros</h4>
        <ul>
          <li><a href="#">Nuestras experiencia</a></li>
          <li><a href="#">Nuestra técnología</a></li>
          <li><a href="#">Inscripción influencer</a></li>
          <li><a href="#">Login</a></li>
          <li><a href="#">Precios</a></li>
        </ul>
      </div>
      <div class="column has-text-left">
        <h4 class="has-text-white">Sobre Nosotros</h4>
        <ul>
          <li><a href="#">¿Quienes somos?</a></li>
          <li><a href="#">Unirse a Nostros</a></li>
          <li><a href="#">Contactar con nosotros</a></li>
        </ul>
      </div>
      <div class="column has-text-left">
        <h4 class=" has-text-white">
          Recursos
        </h4>
        <ul>
          <li>
            <a href="#">Nuestro blog sobre el marketing de influncia (desde 2013).</a>
          </li>
          <li>
            <a href="#">Nuestros libros para comprar o descargar gratuitamente.</a>
          </li>
          <li>
            <a href="#">Nuestros premios y reconocimientos.</a>
          </li>
          <li>
            <a href="#">Cálcula tu presupuesto óptimo</a>
          </li>
          <li>
            <a href="#">Calcula el EMV (Earned Media Value) de tus compañeros</a>
          </li>
          <li>
            <a href="#"></a>
          </li>
        </ul>

      </div>
    </div>
  </div>
  <div class="row clearfix">
    <p id="copyright" class="col-2">
      copyright 2020 (c)<a href="https://www.inffluyo.com">Inffluyo</a>
    </p>

    <!--Social Icons in Footer-->
    <div class="col-2 social-icons" id="footer-social app-social">
    </div>
    <!--End of Social Icons in Footer-->
  </div>
</footer>
<!--End of Footer-->